<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<div class="wp-block-group">
    <!-- wp:noyona/term {"align":"full","sectionTitle":"Our Commitment to Transparency & Trust","cards":[{"title":"Terms of Service","description":"Shop Noyona Essentials-fair rules, personal use only, and policies designed to protect your shopping experience.","url":"/terms-of-service/","buttonLabel":"Read Full Terms","imageUrl":""},{"title":"Shipping Policy","description":"Reliable delivery with clear updates; shipping risks transfer at carrier pickup, but we are here to support you.","url":"/shipping-policy/","buttonLabel":"Read Full Policy","imageUrl":""},{"title":"Refund Policy","description":"Your satisfaction matters-refunds and exchanges follow strict guidelines to keep shopping safe and worry-free.","url":"/refund-policy/","buttonLabel":"Read Full Policy","imageUrl":""}]} /-->
</div>

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

