<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<div class="wp-block-group noyona-location-page">
    <!-- wp:noyona/location {"align":"wide"} /-->

    <!-- wp:noyona/phone-video-reviews {
        "align":"wide",
        "heading":"Trending Reviews",
        "subheading":"See what real customers are saying.",
        "cards":[
            {
            "videoUrl":"https://www.youtube.com/watch?v=mbzLLiKzM84&list=RDmbzLLiKzM84&start_radio=1"
            },
            {
            "videoUrl":"https://www.youtube.com/watch?v=mbzLLiKzM84&list=RDmbzLLiKzM84&start_radio=1"
            },
            {
            "videoUrl":"https://www.youtube.com/watch?v=mbzLLiKzM84&list=RDmbzLLiKzM84&start_radio=1"
            }
        ]
    } /-->

    <!-- wp:noyona/brand-carousel {
        "align":"wide",
        "heading":"",
        "speed":70,
        "mode":"reviews",
        "minRating":4.5,
        "items":[
            { "quote":"Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus ex. ", "author":"Isabella Rodriquez", "product":"Dewy Lip Color", "rating":5, "avatar":"" },
            { "quote":"Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus ex. ", "author":"Sophia Martinez", "product":"Liquid Eyeliner Pen", "rating":5, "avatar":"" },
            { "quote":"Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus ex. ", "author":"Emily Chen", "product":"Dual Powder Foundation", "rating":4.5, "avatar":"" },
            { "quote":"Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus ex. ", "author":"Olivia Wilson", "product":"Velvet Matte Lipstick", "rating":5, "avatar":"" },
            { "quote":"Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus ex. ", "author":"Sophia Martinez", "product":"Liquid Eyeliner Pen", "rating":5, "avatar":"" },
            { "quote":"Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus ex. ", "author":"Emily Chen", "product":"Dual Powder Foundation", "rating":4.5, "avatar":"" },
            { "quote":"Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus ex. ", "author":"Olivia Wilson", "product":"Velvet Matte Lipstick", "rating":5, "avatar":"" }
        ]
    } /-->

    <!-- wp:noyona/faq { 
    } /-->

</div>

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
